AZURE_SUBSCRIPTION_ID=
AZURE_TENANT_ID=
AZURE_CLIENT_ID=
GITHUB_PRINCIPAL_ID=
AZURE_LOCATION=eastus2
AZURE_ENV_NAME=lab09-cicd-dev
GITHUB_SHA=local-validation
FOUNDRY_PROJECT_ENDPOINT=
FOUNDRY_MODEL_NAME=gpt-5.4-mini
FOUNDRY_MODEL_VERSION=2026-03-17
SCANNER_RESPONSES_ENDPOINT=
SCANNER_AGENT_NAME=
SCANNER_AGENT_VERSION=
REVIEWER_RESPONSES_ENDPOINT=
REVIEWER_AGENT_NAME=
REVIEWER_AGENT_VERSION=
ORCHESTRATOR_RESPONSES_ENDPOINT=
ORCHESTRATOR_AGENT_NAME=
ORCHESTRATOR_AGENT_VERSION=
RELEASE_SET_ID=local-unversioned
CONTAINER_APP_REVISION=local